<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pets</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2110</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Dogica_Bold.ttf</string>
		<string>Dogica_Pixel_Bold.ttf</string>
		<string>Dogica.ttf</string>
		<string>Dogica_Pixel.ttf</string>
	</array>
</dict>
</plist>
